{% extends "base.html.twig" %}

{% block page_title %}Connexion{% endblock %}

{% block page_content %}
    <main>
        <h1>Connexion</h1>
        <form action="{{ route("submit_login_user") }}" id="form-access" class="center" method="post">
                <div class="access-container">
                    <label for="email">Adresse email</label>
                    <input id="email" type="email" name="email" value="{{ email }}" required/>
                </div>
                <div class="access-container">
                    <label for="password">Mot de passe</label>
                    <input id="password" type="password" name="password" required/>
                </div>
                <input id="access-submit" type="submit" value="Se connecter">
        </form>
    </main>
{% endblock %}